<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="y-HkADjHYdh6JY5qs1qy6DdjGTz_zPC8pDTsMjcEpF0" />
        <meta name="google-site-verification" content="YmKU2RE3pg5idKevyTm4PhPWqMaMfHl_dGe3a-lyqDQ" />
        <meta name="google-site-verification" content="XQk3Xjjlx4mEwEjmKkvI2aC7SvkH-o3UsbSbd6xBZxs" />
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="{{ url_for('static', path='/marusoftware.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/bulma.min.css') }}">
        <!-- <script src="/theme/js/mjsaddon.js"></script> -->
        {% block head %}
        {% endblock %}
    </head>
    <body class="has-background-grey">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ return_url|default('#') }}">
                    <img src="{{ url_for('static', path='/marusoftware.png') }}" id="icon_top" />
                </a>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <div style="flex: 1;"></div>
        <footer class="footer">
            <div><a id="privpolicy" href="https://marusoftware.net/privacypolicy.html">Privacy Policy</a> | 
                <a id="peacpolicy" href="https://marusoftware.net/peacepolicy.html">Peace Policy</a> | 
                <a href="https://status.marusoftware.net">Status</a> | -2025 Marusoftware</div>
        </footer>
        <style>
        body {
            min-height: 100dvh;
            display: flex;
            flex-direction: column;
        }
        </style>
    </body>
    
</html>
